.container{
    display:grid;
    grid-template-columns: repeat(3, 7.3%);
    grid-template-rows: repeat(3, auto);    
    justify-content: center;
    flex-flow: row-reverse wrap

}

.item-a {   
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: start;
  }


